body {margin: 0;
    background-image: url(fundo.png);
    background-size: cover;}

#cabeçalho {background-color: #D8981D;
width: 100%;
height: 155px;}

#logo {position: relative;
left: 650px;}

#inicio { 

width: 185px;
    height: 50px;
    text-align: center;
position: relative;
bottom: 125px;
left: 250px;
}

#quemsomos {

width: 250px;
    height: 50px;
    text-align: center;
position: relative;
bottom: 195px;
left: 500px;}

#buscar {

width: 185px;
    height: 50px;
    text-align: center;
position: relative;
bottom: 265px;
left: 1175px;}

#mais {
width: 185px;
    height: 50px;
    text-align: center;
position: relative;
bottom: 335px;
left: 1425px;}

a {text-decoration: none;
color: black;}

#frase {font-size: 60px;
color: white;
position: relative;
left: 850px;
bottom: 150px;
height: 0px;
width: 0px;}

#form {color: white;
    font-size: 35px;
    position: relative;
    left: 550px;
    height: 350px;
    width: 325px;
}
#form input{background-color: #E5C1A6;
width: 270px;
height: 40px;}

p {color: white;
position: relative;
font-size: 35px;
left: 1100px;
bottom: 375px;
width: 250px;
height: 0px;}